.noPad{padding: 0px;}
.res-box-wrapper{margin-top: 20px;}
.res-box-wrapper h1{text-align: center; margin-bottom: 20px;}
.pro_image{width:100%;}
.prof_wrapper{margin-top:10px}
.prof_header h1{font-size:26px; font-weight:bold; color:#b94a48; }
.skils_wrapper h2{font-size:23px; font-weight:300; color:#b94a48; }
.site_wrapper{background:#fff;}
.company_wrapper{margin-top:20px; margin-bottom:20px; }
.skils_wrapper{margin-top:20px; margin-bottom:20px; }
label, p{font-size:20px;}
	a{color:#2e4f7f!important;}